<div class="row">
  <h1 *ngIf="isAdmin">Orders</h1>
  <h1 *ngIf="!isAdmin">Your orders</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Orders</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col" *ngIf="isAdmin">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of orders"
        [order]="order"
        [isAdmin]="isAdmin"
        app-order-list-item
      ></tr>
    </tbody>
  </table>
</div>
