<div class="row">
  <div class="col-xl-12"><strong>Products in shopping cart</strong></div>
</div>
<div class="row">
  <div class="col-xl-12">
    <table class="table">
      <thead>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">&nbsp;</th>
      </thead>
      <tbody>
        <tr
          app-shopping-cart-list-item
          *ngFor="let shoppingCartLine of shoppingCartLines; let i = index"
          [shoppingCartLine]="shoppingCartLine"
        ></tr>
      </tbody>
    </table>
  </div>
</div>
